header, main {
    opacity: 0.9;
    border-radius: 20px;
  }
  
  a, h1, h2, h3 {
    text-align: center;
  }
  
  header {
      background-color: rgb(2, 29, 0);
      color: white;
      margin-top: 20px;
      margin-bottom: 5px;
      margin-left: 500px;
      margin-right: 500px;
      padding: 20px;
  }
  
  h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
  }
  
  body {
      background-image: url('images/trees.jpg');
  }
  
  main {
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgb(2, 29, 0);
    margin: 10px 300px;
    padding-top: 15px;
    padding-bottom: 25px;
  }
  
  h3 {
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }
  
  hr {
    margin: 10px;
  }
  
  ul {
    text-align: left;
  }
  
  ol {
    text-align: left;
    padding-bottom: 10px;
  }
  
  p {
    margin-left: 20px;
    text-align: left;
  }
  
  a {
    font-size: 30px;
  }
  
  a:link {color: white;}
  a:visited {color:white;}
  a:hover {color: grey;}
  a:active { color: rgb(2, 0, 146);}