  a, h1, h2, h3 {
    text-align: center;
  }

  /* Article */
  ul, ol, p {
    text-align: left;
  }

  /* Box Formatting */
  header, main {
    background-color: rgb(2, 29, 0);
    color: white;
    opacity: 0.9;
    border-radius: 20px;
  }
  
  header {
    margin-top: 20px;
    margin-bottom: 5px;
    margin-left: 500px;
    margin-right: 500px;
    padding: 20px;
  }
  
  h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
  }

  /* Background Image */
  body {
    background-image: url('images/trees.jpg');
  }
  
  main {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 10px 300px;
    padding-top: 15px;
    padding-bottom: 25px;
  }
  
  h3 {
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }
  
  hr {
    margin: 10px;
  }
  
  ol {
    padding-bottom: 10px;
  }
  
  p {
    margin-left: 20px;
  }
  
  a {
    font-size: 30px;
    text-align: center !important;
  }
  
  a:link {color: white;}
  a:visited {color:white;}
  a:hover {color: grey;}
  a:active { color: blue;}